$fonts: "Raleway", sans-serif;
$linkdecoration: none;
$linkcolor: whitesmoke;
@mixin btStyle {
  background: linear-gradient(98.38deg, #264653 1.82%, #2a9d8f 97.86%);
  border: 1px solid #f5b40d;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  animation-duration: 1s;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: translate(6px, 6px);
  }
}
/**Fuentes**/
p {
  font-family: $fonts;
}
h1 {
  font-family: $fonts;
}
h2 {
  font-family: $fonts;
}
h3 {
  font-family: $fonts;
}
a {
  font-family: $fonts;
}
a:link {
  text-decoration: $linkdecoration;
  color: $linkcolor;
}
a:visited {
  text-decoration: $linkdecoration;
  color: $linkcolor;
}
html {
  min-height: 100%;
  position: relative;
}

/**Body**/
body {
  background: linear-gradient(
    112.51deg,
    #264653 0%,
    rgba(42, 157, 143, 0.69) 100.59%
  );
  background-blend-mode: lighten;
  color: whitesmoke;
  .tarjeta {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 100vh;
    border-radius: 12px 12px 0px 0px;
    background: linear-gradient(
      180deg,
      rgba(5, 112, 136, 0.8) 0%,
      #48087a 90.95%
    );
    box-shadow: 10px 10px 101px 34px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 10px 10px 101px 34px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 10px 10px 101px 34px rgba(0, 0, 0, 0.51);
    border: solid yellow 2px;

    /*Header*/
    .menu {
      display: grid;
      grid-template-columns: 20% 60% 20%;
      align-content: center;
      margin-top: 20px;
      .logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-right: 0px;
        .logo__img {
          width: 40px;
          height: 20px;
        }
        &:hover {
          animation-name: logo;
          animation-duration: 1s;
          animation-iteration-count: 1;
        }
      }
      @keyframes logo {
        0% {
          transform: translatex(10px);
        }
        10% {
          transform: translatex(15px);
        }
        20% {
          transform: translatex(20px);
        }
        30% {
          transform: translatex(25px);
        }
        40% {
          transform: translatex(30px);
        }
        50% {
          transform: translatex(35px);
        }
        60% {
          transform: translatex(40px);
        }
        70% {
          transform: translatex(45px);
        }
        80% {
          transform: translatex(50px);
        }
        90% {
          transform: translatex(55px);
        }
        100% {
          transform: translate(60px);
        }
      }
      .menu-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 10px;
        font-weight: 600;
        list-style: none;
        padding-left: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
      }
      .btstyle {
        text-decoration: none;
        text-decoration: whitesmoke;
        font-weight: 600;
        font-size: 10px;
        width: 50px;
        height: 20px;
        @include btStyle();
      }
      
      .btlogin {
        text-align: center;
        text-justify: center;
        margin: auto;
      }
    }

    /*Main*/
    main {

      /*Index*/
      .imagentitulo {
        background-image: url(../img/bannerhome.png);
        height: 310px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        margin-top: 30px;
        .imagentitulo__text {
          position: absolute;
          text-align: left;
          font-weight: bold;
          font-size: 14px;
          line-height: 40px;
          left: 5%;
        }
        .imagentitulo__button {
          position: absolute;
          top: 70%;
          left: 60%;
          .btstyle-title {
            @include btStyle();
          }
        }
      }
      .record {
        font-size: 20px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        padding-top: 60px;
      }
      .boxrecord {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 125px;
        background: linear-gradient(
          91.64deg,
          rgba(38, 70, 83, 0.7) 0.15%,
          rgba(15, 102, 137, 0.7) 99.81%
        );
        box-shadow: 0px 5px 4px 5px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin-left: 10px;
        margin-right: 10px;
        .boxrecord__items {
          text-align: center;
          font-size: 10px;
          font-weight: 700;
        }
        .icon__records {
          width: 40px;
        }
      }
      .cita {
          background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
          url(../img/citahome.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          position: relative;
          height: 325px;
          width: 100%;
          margin-top: 70px;
          margin-bottom: 120px;
          padding-top: 20px;
          .cita__text {
            position: absolute;
            font-weight: bold;
            text-align: center;
            font-size: 20px;
          }
        }

      /*Artistas*/
      .artistas {
        background-image: url(../img/unsplash_OKLqGsCT8qs.png);
        height: 100px;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 50px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 30px;
        .artistas__text {
          position: absolute;
          font-size: 24px;
        }
      }
      .container {
        .fila {
          margin-bottom: 120px;
          .col-12 {
            .cardbts {
              height: auto;
              margin-top: 30px;
              background-color: #38393a;
              border: 2px solid #f5b40d;
              box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
              .card-body{
                .titlecrd {
                  font-weight: 800;
                }
                .textcrd {
                  text-align: justify;
                  font-weight: 600;
                }
              }
            }
          }
          .col-md-6 {
            .cardbts {
              height: auto;
              margin-top: 30px;
              background-color: #38393a;
              border: 2px solid #f5b40d;
              box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
              .card-body{
                .titlecrd {
                  font-weight: 800;
                }
                .textcrd {
                  text-align: justify;
                  font-weight: 600;
                }
              }
            }
          }
          .col-lg-4 {
            .cardbts {
              height: auto;
              margin-top: 30px;
              background-color: #38393a;
              border: 2px solid #f5b40d;
              box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
              .card-body{
                .titlecrd {
                  font-weight: 800;
                }
                .textcrd {
                  text-align: justify;
                  font-weight: 600;
                }
              }
            }
          }
        }
      }

      /*Login*/
      .boxlogin{
        margin-top: 100px;
        position: absolute;
        left: 27%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 176px;
        height: 141px;
        background-color: #357286;
        border: 2px solid #F5B40D;
        border-radius: 30px;
        padding-top: 20px;
        h2 {
          font-size: 12px;
        }
        .loginform{
          display: flex;
          flex-direction: column;
          font-size: 8px;
        }
        p {
          font-size: 6px;
        }
      }

      /*Musica*/
      .musica{
        background-image: url(../img/bannermusica.jpg);
        height: 100px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 30px;
        .musica__text{
          width: 200px;
          height: 50px;
          position: absolute;
        }
      }
      .table-semanal{
        margin-top: 25px;
        font-size: 10px;
      }
      .table-mensual{
        margin-top: 25px;
        margin-bottom: 120px;
        font-size: 10px;
      }
      table tbody td{
        text-align: left;
      }

      /*Nosotros*/
      .nosotros{
        background: url(../img/unsplash_5kYKzH5Gwgk.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 30px;
        position: relative;
        height: 210px;
        .nosotros-text{
          position: absolute;
          font-size: 32px;
          padding-left: 18px;
          padding-top: 8px;
        }
      }
      .nosotros-history{
        margin: 10px;
        background-color: #38393a;
        border: 1px solid whitesmoke;
        border-radius: 10px;
        .nosotros-history-text {
          font-size: 18px;
          text-align: center;
          padding: 8px;
        }
      }
      /*Contacto*/
      .contacto{
        background: url(../img/unsplash_QckxruozjRg.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 30px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 30px;
        position: relative;
        height: 210px;
        .contacto-text{
          position: absolute;
          font-size: 24px;
          font-weight: 700;
          padding-left: 18px;
          padding-top: 8px;
        }
      }
      .contactoform {
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
        display: 	flex;
        flex-direction: column;
        align-items: center;
        .form1 {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          .inputform{
            width: 200px;
          }
        }
        .form2{
          .inputform-coment{
            height: 120px;
            width: 310px;
          }
        }
        button {
          margin-top: 20px;
        }
      }
    }
  }
}

/**Footer**/

.footer {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100px;
  background: #264653;
  background-blend-mode: lighten;
  mix-blend-mode: normal;
  border: 2px solid #1288b8;
  box-shadow: 7px -7px 25px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px 25px 0px 0px;
  .footer__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 10px;
    list-style: none;
    .logo1 {
      width: 40px;
      height: 20px;
      padding-left: 0px;
    }
  }
  .redes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-left: 2rem;
    .redes__sociales {
      width: 25px;
      transition-duration: 1s;
      &:hover {
        transform: rotatex(360deg);
      }
    }
  }
}

/*Artistas*/

@import "responsive-tablet";
@import "responsive-desktop";